<!-- <p>
    tablechart works!
</p>

<div>
    {{Details}}
</div> -->
<h2>
  <b class="display-4 text-primary font-weight-bold align-self-center m-5"> SA TAXI Timesheet.</b>
</h2>
<div class="input-group icon-align-right m-5">
  <div class="form-outline">
    <input type="search" id="form1" class="form-control sm-col-10" placeholder="Search by MonthYear"
      [(ngModel)]="MonthYear" />
  </div>
  <button id="search-button" type="button" class="btn btn-primary" (click)="Search()">
    <i class="fa fa-search"></i>
  </button>
</div>
<!-- <input class="form-control mr-sm-2" type="text" placeholder="Search by MonthYear" name="MonthYear" [(ngModel)] = "MonthYear" (ngModelChange) = "Search()"> -->
<table class="table table-striped table-bordereds table-hover table-responsive m-5">
  <thead class="thead-light">
    <tr>

      <th>
        Project Name&nbsp; 
      </th>
      <th (click)="sortTable('TSData.IntEquivalent')">
        Hours&nbsp; <i class="fa fa-fw fa-sort"></i>
      </th>
      <th>
        MonthYear&nbsp;
      </th>

    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of Details | orderBy : key : reverse | paginate: { id : 'pages', itemsPerPage: 9, currentPage: page, totalItems: count }">
      <td>{{user["TSData.projectname"]}}</td>
      <td>{{roundoff(user["TSData.IntEquivalent"])}}</td>
      <td>{{user["TSData.monthyear"]}}</td>
    </tr>
    <tr>
      <td>Total Hours</td>
      <td>{{roundoff(total)}}</td>
      <td>Month Count = {{count}}</td>
    </tr>
  </tbody>
</table>
<div class="m-5">
  <pagination-controls id="pages" maxSize="10" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
<div class="row">
  <div class="col-sm-6">
    <ag-grid-angular
        style="width: 600px; height: 500px;"
        class="ag-theme-balham"
        [rowData]="Details[0]"
        [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
  </div>
  <div class="col-sm-4">
    <ag-grid-angular
        style="width: 500px; height: 500px; "
        class="ag-theme-balham"
        [rowData]="UserData"
        [columnDefs]="columnDefs1"
    >
    </ag-grid-angular>
  </div>
</div>
<!-- <ngx-charts-bar-vertical [results] = "ArrayData" ></ngx-charts-bar-vertical> -->
<div class="card">
  <div class="card-body">
    <div class="card-text">
      <div class="input-group icon-align-right m-5">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control sm-col-10" placeholder="Search by MonthYear"
            [(ngModel)]="MonthYear1" />
        </div>
        <button id="search-button" type="button" class="btn btn-primary" (click)="Search1()">
          <i class="fa fa-search"></i>
        </button>
      </div>
      <canvas 
        mdbChart baseChart
        *ngIf="ready" 
        baseChart height="150" 
        [datasets]="chartData1" 
        [labels]="chartLabels1"
        [options]="chartOptions" 
        [colors]="chartColors" 
        [chartType]="chartType" 
        [legend]="true"
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)"
        >
      </canvas>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="card-text">
      <canvas mdbChart *ngIf="ready" baseChart height="150" [datasets]="chartData1" [labels]="chartLabels1"
        [options]="chartOptions" [colors]="chartColors" [chartType]="chartType1" [legend]="true"
        (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="card-text">
      <canvas 
      baseChart
      *ngIf="ready"  
      height="150" 
      [datasets]="chartData1" 
      [labels]="chartLabels1"
      [options]="chartOptions" 
      [colors]="chartColors1" 
      [chartType]="chartType2" 
      [legend]="true"
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)">
    </canvas>
    </div>
  </div>
</div>


<smart-grid *ngIf="ready" [dataSource]="UserData" [filtering]="filtering" [columns]="columns" [sorting]="sorting"
  #grid id="grid"></smart-grid>